@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@font-face {
	font-family: "Proxima Nova";
	src: url("fonts/proximanova_regular.eot");
	src: local("☺"), url("../fonts/proximanova_regular.woff") format("woff"), url("../fonts/proximanova_regular.ttf") format("truetype"), url("../fonts/proximanova_regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Light";
	src: url("fonts/FontsFree-Net-Proxima-Nova-Light.eot");
	src: local("☺"), url("../fonts/FontsFree-Net-Proxima-Nova-Light.woff") format("woff"), url("../fonts/FontsFree-Net-Proxima-Nova-Light.ttf") format("truetype"), url("../fonts/FontsFree-Net-Proxima-Nova-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "El Messiri";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "El Messiri";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
	background-color: #162831;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
/*.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}*/
.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 8px 5px 50px 5px;
	max-width: 1296px;
	margin: 0 auto;
	height: 100%;
}
@media (max-width: 767.98px) {
	.content {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.header__body {
	font-family: Proxima Nova;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	z-index: 50;
}
.header__logo {
	display: inline-block;
	position: relative;
}
.header .logo__w {
	position: absolute;
	top: 13.51px;
	left: 14px;
}
.header__burger {
	display: none;
}

@media (max-width: 767.98px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		position: relative;
		z-index: 50;
	}

	.header__burger {
		display: block;
		position: relative;
		right: 0;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger:before,
.header__burger:after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active:before {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active span {
		-webkit-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
	}

	.header__burger.active:after {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		bottom: 9px;
	}

	.menu-header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #162831;
		padding: 70px 0px 0px 0px;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

	.menu-header__menu.active {
		top: 0;
		padding: 70px 0px 0px 0px;
	}

	.header__logo {
		display: block;
		z-index: 2;
	}
}
.menu-header__menu {
	padding: 0px 0px 0px 114px;
}
@media (max-width: 1312px) {
	.menu-header__menu {
		padding: 0px 0px 0px 114px;
	}
}
@media (max-width: 1150px) {
	.menu-header__menu {
		padding: 0px 0px 0px 100px;
	}
}
@media (max-width: 991.98px) {
	.menu-header__menu {
		padding: 0px 0px 0px 90px;
	}
}
@media (max-width: 850px) {
	.menu-header__menu {
		padding: 0px 0px 0px 40px;
	}
}
@media (max-width: 767.98px) {
	.menu-header__menu {
		display: block;
		padding: 0px 0px 0px 0px;
	}
}
.menu-header__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 2;
}
@media (max-width: 767.98px) {
	.menu-header__list {
		display: block;
		padding: 40px 0px 0px 0px;
	}
}
.menu-header__list li {
	padding: 0px 50px 0px 0px;
}
@media (max-width: 991.98px) {
	.menu-header__list li {
		padding: 0px 25px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.menu-header__list li {
		padding: 0px 0px 0px 0px;
		margin: 10px 0px 0px 10px;
		font-size: 18px;
	}
}
.menu-header__list li:last-child {
	padding: 0px 0px 0px 0px;
}
@media (max-width: 767.98px) {
	.menu-header__list li:last-child {
		margin: 10px 0px 0px 10px;
	}
}
.menu-header__link {
	line-height: 135%;
	color: #FFFFFF;
}
.menu-header__link:hover {
	text-decoration: underline;
}

.header__button {
	background: #018ABE;
	border-radius: 3px;
}
.header__button:hover {
	background: #4cbce9;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	-webkit-box-shadow: 0 0 50px rgba(13, 152, 216, 0.5);
	        box-shadow: 0 0 50px rgba(13, 152, 216, 0.5);
}
@media (max-width: 767.98px) {
	.header__button {
		display: block;
		margin-top: 40px;
	}
}

.header__button a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #FFFFFF;
	padding: 9px 15px;
}
@media (max-width: 991.98px) {
	.header__button a {
		padding: 6px 10px;
	}
}
@media (max-width: 767.98px) {
	.header__button a {
		font-size: 18px;
		padding: 8px 65px;
	}
}

.mainblock {
	margin: 0px 5px 150px 5px;
}
@media (max-width: 991.98px) {
	.mainblock {
		margin: 0px 5px 80px 5px;
	}
}
@media (max-width: 767.98px) {
	.mainblock {
		margin: 0px 5px 40px 5px;
	}
}
.mainblock__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	max-width: 1296px;
	height: 600px;
	max-height: 100%;
	position: relative;
	background: url("../img/main_image.jpg") 50% no-repeat;
	border-radius: 10px;
}
@media (max-width: 600px) {
	.mainblock__content {
		background: url("../img/main_image.jpg") 0 -50% no-repeat;
	}
}
.mainblock__text {
	position: relative;
	max-width: 587px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	z-index: 2;
}
.mainblock__subtitle {
	display: inline-block;
	font-size: 24px;
	line-height: 34px;
	max-width: 429px;
	margin-bottom: 40px;
}
.mainblock__subtitle:before {
	content: url("../img/icons/Rectangle_left.png");
	display: inline-block;
	width: 28px;
	color: #FFFFFF;
	margin-right: 66px;
}
@media (max-width: 479.98px) {
	.mainblock__subtitle:before {
		margin-right: 13px;
	}
}
.mainblock__subtitle:after {
	content: url("../img/icons/Rectangle_right.png");
	display: inline-block;
	width: 28px;
	color: #FFFFFF;
	margin-left: 66px;
}
@media (max-width: 479.98px) {
	.mainblock__subtitle:after {
		margin-left: 13px;
	}
}
@media (max-width: 479.98px) {
	.mainblock__subtitle {
		font-size: 20px;
	}
}
.mainblock__title {
	font-size: 64px;
	line-height: 90px;
}
@media (max-width: 479.98px) {
	.mainblock__title {
		font-size: 48px;
		line-height: 50px;
	}
}

.container {
	margin: 0px 5px 0px 5px;
	height: 100%;
}

.title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 700;
	font-size: 42px;
	line-height: 59px;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #FFFFFF;
	margin-bottom: 100px;
}
.title:before {
	content: url("../img/icons/Session_rectangle_left.png");
	display: inline-block;
	width: 28px;
	padding: 0 73px 13px 0;
}
@media (max-width: 479.98px) {
	.title:before {
		padding: 0 38px 7px 0;
	}
}
.title:after {
	content: url("../img/icons/Session_rectangle_right.png");
	display: inline-block;
	width: 28px;
	padding: 0 0 13px 45px;
}
@media (max-width: 479.98px) {
	.title:after {
		padding: 0 0 7px 10px;
	}
}
@media (max-width: 991.98px) {
	.title {
		margin-bottom: 50px;
	}
}
@media (max-width: 767.98px) {
	.title {
		font-size: 32px;
		line-height: 30px;
	}
}
@media (max-width: 479.98px) {
	.title {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 25px;
	}
}

.session {
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.session__body {
	margin: 0px 5px 150px 5px;
	height: 100%;
}
@media (max-width: 991.98px) {
	.session__body {
		margin: 0px 5px 100px 5px;
	}
}
@media (max-width: 767.98px) {
	.session__body {
		margin: 0px 5px 50px 5px;
	}
}
@media (max-width: 479.98px) {
	.session__body {
		margin: 0px 5px 40px 5px;
	}
}

.session__items {
	position: relative;
	display: -ms-grid;
	display: grid;
	width: 100%;
	-ms-grid-columns: 1fr 24px 1fr 24px 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: 1fr 24px 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
	max-height: 100%;
}

.session__items > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.session__items > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.session__items > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.session__items > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.session__items > *:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.session__items > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
@media (max-width: 991.98px) {
	.session__items {
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-rows: 1fr 15px 1fr 15px 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 15px;
	}
	.session__items > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.session__items > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.session__items > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.session__items > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.session__items > *:nth-child(5) {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.session__items > *:nth-child(6) {
		-ms-grid-row: 5;
		-ms-grid-column: 3;
	}
}
@media (max-width: 479.98px) {
	.session__items {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		-ms-grid-rows: none;
		grid-template-rows: none;
		gap: 10px;
	}
	.session__items > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}

.session__items1 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: 3;
}
@media (max-width: 479.98px) {
	.session__items1 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
		-ms-grid-row: 1;
		    grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
	}
}

.session__item1 {
	position: relative;
}
.session__item1:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.item1-session {
	border-radius: 10px;
	position: relative;
}
.item1-session img {
	width: 100%;
}
.item1-session__bg {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 5px;
	left: 0;
	bottom: 0px;
}
.item1-session__name {
	position: absolute;
	bottom: 50px;
	left: 50px;
}
@media (max-width: 767.98px) {
	.item1-session__name {
		bottom: 25px;
		left: 25px;
	}
}

.session-name {
	max-width: 350px;
	max-height: 490px;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	cursor: pointer;
}
@media (max-width: 1150px) {
	.session-name {
		font-size: 20px;
	}
}
@media (max-width: 1312px) {
	.session-name {
		max-width: 250px;
	}
}
@media (max-width: 991.98px) {
	.session-name {
		font-size: 26px;
		line-height: 30px;
	}
}
@media (max-width: 767.98px) {
	.session-name {
		font-size: 22px;
		line-height: 26px;
	}
}
@media (max-width: 630px) {
	.session-name {
		font-size: 18px;
		line-height: 18px;
	}
}
@media (max-width: 510px) {
	.session-name {
		font-size: 16px;
		line-height: 15px;
	}
}
@media (max-width: 479.98px) {
	.session-name {
		font-size: 25px;
		line-height: 28px;
	}
}

.session__items2 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
@media (max-width: 479.98px) {
	.session__items2 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
		-ms-grid-row: 2;
		    grid-row-start: 2;
		-ms-grid-row-span: 1;
		grid-row-end: 3;
	}
}

.session__item2 {
	position: relative;
}
.session__item2:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.item2-session {
	border-radius: 10px;
	position: relative;
}
.item2-session img {
	width: 100%;
}
.item2-session__name {
	position: absolute;
	bottom: 30px;
	left: 40px;
}
@media (max-width: 767.98px) {
	.item2-session__name {
		bottom: 15px;
		left: 20px;
	}
}
@media (max-width: 479.98px) {
	.item2-session__name {
		bottom: 25px;
		left: 25px;
	}
}

.session__items3 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
@media (max-width: 991.98px) {
	.session__items3 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 1;
		grid-column-end: 2;
		-ms-grid-row: 3;
		    grid-row-start: 3;
		-ms-grid-row-span: 1;
		grid-row-end: 4;
	}
}
@media (max-width: 479.98px) {
	.session__items3 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
		-ms-grid-row: 3;
		    grid-row-start: 3;
		-ms-grid-row-span: 1;
		grid-row-end: 4;
	}
}

.session__item3 {
	position: relative;
}
.session__item3:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.item3-session {
	border-radius: 10px;
	position: relative;
}
.item3-session img {
	width: 100%;
}
.item3-session__name {
	position: absolute;
	bottom: 30px;
	left: 40px;
}
@media (max-width: 767.98px) {
	.item3-session__name {
		bottom: 15px;
		left: 20px;
	}
}
@media (max-width: 479.98px) {
	.item3-session__name {
		bottom: 25px;
		left: 25px;
		font-size: 20px;
	}
}

.session__items4 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
@media (max-width: 479.98px) {
	.session__items4 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
		-ms-grid-row: 4;
		    grid-row-start: 4;
		-ms-grid-row-span: 1;
		grid-row-end: 5;
	}
}

.session__item4 {
	position: relative;
}
.session__item4:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.item4-session {
	border-radius: 10px;
	position: relative;
}
.item4-session img {
	width: 100%;
}
.item4-session__name {
	position: absolute;
	bottom: 30px;
	left: 40px;
}
@media (max-width: 767.98px) {
	.item4-session__name {
		bottom: 15px;
		left: 20px;
	}
}
@media (max-width: 479.98px) {
	.item4-session__name {
		bottom: 25px;
		left: 25px;
		font-size: 20px;
	}
}

.session__items5 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
@media (max-width: 991.98px) {
	.session__items5 {
		-ms-grid-column: 2;
		    grid-column-start: 2;
		-ms-grid-column-span: 1;
		grid-column-end: 3;
		-ms-grid-row: 3;
		    grid-row-start: 3;
		-ms-grid-row-span: 1;
		grid-row-end: 4;
	}
}
@media (max-width: 479.98px) {
	.session__items5 {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
		-ms-grid-row: 5;
		    grid-row-start: 5;
		-ms-grid-row-span: 1;
		grid-row-end: 6;
	}
}

.session__item5 {
	position: relative;
}
.session__item5:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.item5-session {
	border-radius: 10px;
	position: relative;
}
.item5-session img {
	width: 100%;
}
.item5-session__name {
	position: absolute;
	bottom: 30px;
	left: 40px;
}
@media (max-width: 767.98px) {
	.item5-session__name {
		bottom: 15px;
		left: 20px;
	}
}
@media (max-width: 479.98px) {
	.item5-session__name {
		bottom: 25px;
		left: 25px;
		font-size: 20px;
	}
}

.reviews {
	margin: 0px 0px 150px 0px;
}
@media (max-width: 991.98px) {
	.reviews {
		margin: 0px 0px 80px 0px;
	}
}
@media (max-width: 767.98px) {
	.reviews {
		margin: 0px 0px 40px 0px;
	}
}

.swiper-container {
	position: relative;
	width: 100%;
	padding: 0px 0px 60px 0px;
}
@media (max-width: 767.98px) {
	.swiper-container {
		padding: 0px 0px 30px 0px;
	}
}

.swiper {
	position: absolute;
	width: 100%;
	max-width: 636px;
}

.swiper-slide {
	background-color: #018ABE;
	border-radius: 10px;
	max-width: 636px;
	overflow: hidden;
}
.swiper-slide__content {
	margin: 50px 50px 56px 60px;
}
@media (max-width: 767.98px) {
	.swiper-slide__content {
		margin: 25px 25px 30px 35px;
	}
}
.swiper-slide__name {
	display: inline-block;
	font-family: "Proxima Nova";
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
.swiper-slide__text {
	padding: 5px;
	display: inline-block;
	font-family: "Proxima Nova";
	font-weight: 300;
	font-size: 14px;
	line-height: 19.6px;
	color: #FFFFFF;
}
.swiper-slide__text p {
	padding-bottom: 16px;
}
.swiper-slide__text p:last-child {
	padding-bottom: 0px;
}

span.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background: #FFFFFF;
	border-radius: 3px;
}
@media (max-width: 767.98px) {
	span.swiper-pagination-bullet {
		width: 11px;
		height: 11px;
	}
}

.container {
	max-width: 1076px;
	margin: 0 auto;
}

.about {
	margin: 0px 0px 150px 0px;
}
@media (max-width: 991.98px) {
	.about {
		margin: 0px 0px 80px 0px;
	}
}
@media (max-width: 767.98px) {
	.about {
		margin: 0px 0px 40px 0px;
	}
}
.about__image {
	max-width: 100%;
}
.about__image img {
	border-radius: 12px;
}
.about__image img:hover {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.about__text {
	font-family: Proxima Nova Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	max-width: 466px;
}
@media (max-width: 850px) {
	.about__text {
		max-width: 100%;
	}
}
.about__text p {
	padding: 0px 0px 15px 0px;
}
.about__text p:last-child {
	padding: 0px 0px 0px 0px;
}
.about__subtitle {
	font-family: Proxima Nova;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	padding: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
	.about__subtitle {
		padding: 0px 0px 15px 0px;
	}
}

.about__row1 {
	margin: 0px 10px 100px 10px;
}
@media (max-width: 767.98px) {
	.about__row1 {
		margin: 0px 10px 50px 10px;
	}
}
@media (max-width: 479.98px) {
	.about__row1 {
		margin: 0px 10px 30px 10px;
	}
}

.about__row1__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1076px;
	width: 100%;
}
@media (max-width: 850px) {
	.about__row1__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
	}
}

.row1__image img {
	width: 100%;
	height: 100%;
}
@media (max-width: 850px) {
	.row1__image img {
		width: 100%;
	}
}

.about__row2 {
	margin: 0px 10px 100px 10px;
}
@media (max-width: 479.98px) {
	.about__row2 {
		margin: 0px 10px 30px 10px;
	}
}

.about__row2__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1076px;
	width: 100%;
}
@media (max-width: 850px) {
	.about__row2__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
	}
}

.row2__image img {
	width: 100%;
	height: 100%;
}
@media (max-width: 850px) {
	.row2__image img {
		width: 100%;
	}
}

.price {
	margin: 0 auto;
}
.price__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1076px;
	width: 100%;
	padding: 0px 10px 100px 10px;
}
@media (max-width: 850px) {
	.price__content {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch;
	}
}
@media (max-width: 479.98px) {
	.price__content {
		padding: 0px 10px 50px 10px;
	}
}

.container {
	max-width: 1076px;
	margin: 0 auto;
}

@media (max-width: 479.98px) {
	.price__title {
		font-size: 24px;
	}
}

.price__column1 {
	width: 416px;
}
@media (max-width: 850px) {
	.price__column1 {
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.price__column1__content {
	width: 100%;
}
.price__column1__content li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	padding: 0px 0px 31px 0px;
}
@media (max-width: 850px) {
	.price__column1__content li {
		padding: 0px 120px 31px 120px;
	}
}
@media (max-width: 767.98px) {
	.price__column1__content li {
		padding: 0px 40px 31px 40px;
	}
}
@media (max-width: 479.98px) {
	.price__column1__content li {
		padding: 0px 0px 15px 0px;
	}
}

@media (max-width: 479.98px) {
	span.prices {
		font-size: 15px;
	}
}

@media (max-width: 479.98px) {
	span.item {
		font-size: 16px;
	}
}

@media (max-width: 850px) {
	.price__column2 {
		width: 100%;
	}
}
.price__column2__image {
	max-width: 100%;
	padding: 0px 0px 30px 0px;
}
@media (max-width: 479.98px) {
	.price__column2__image {
		padding: 0px 0px 15px 0px;
	}
}
.price__column2__image img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.price__column2__image img:hover {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.price__column2__subtitle {
	display: block;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em;
	color: #FFFFFF;
}
@media (max-width: 850px) {
	.price__column2__subtitle {
		font-size: 35px;
	}
}
@media (max-width: 479.98px) {
	.price__column2__subtitle {
		font-size: 21px;
	}
}

.prices {
	color: #FFFFFF;
	font-family: El Messiri;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.item {
	font-family: Proxima Nova;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}
.item:before {
	content: url("../img/icons/price.png");
	display: inline-block;
	width: 28px;
	margin-right: 20px;
}
@media (max-width: 479.98px) {
	.item:before {
		margin-right: 0px;
	}
}

.locations {
	margin: 0px 5px 90px 5px;
}
@media (max-width: 479.98px) {
	.locations {
		margin: 0px 5px 45px 5px;
	}
}
.locations__container {
	max-width: 1296px;
	margin: 0 auto;
}
.locations__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 48px;
}
@media (max-width: 850px) {
	.locations__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media (max-width: 690px) {
	.locations__content {
		gap: 24px;
	}
}
.locations__map {
	width: 100%;
}
.locations__blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 28px;
	max-width: 392px;
	max-height: 604px;
	width: 100%;
}
.locations__blocks li {
	font-family: Proxima Nova;
	font-size: 14px;
	line-height: 18.9px;
	color: #FFFFFF;
}
@media (max-width: 850px) {
	.locations__blocks {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		max-width: 100%;
	}
}
@media (max-width: 690px) {
	.locations__blocks {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 100%;
	}
}
.locations__block1 {
	border-radius: 10px;
	background-color: #018ABE;
}
@media (max-width: 850px) {
	.locations__block1 {
		width: 100%;
		height: 100%;
	}
}
.locations__block1__title {
	font-size: 24px;
	line-height: 33.6px;
	font-weight: 700;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 21px;
}
.locations__block2 {
	border-radius: 10px;
	background-color: #018ABE;
}
@media (max-width: 850px) {
	.locations__block2 {
		width: 100%;
		height: 100%;
	}
}
.locations__block2__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 33.6px;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 21px;
}
.locations__button {
	background-color: #FFFFFF;
	font-family: Proxima Nova;
	font-size: 13px;
	line-height: 18px;
	color: #018ABE;
	padding: 8px 15px;
	border-radius: 10px;
}
.locations__button:hover {
	background-color: #003c53;
	color: #FFFFFF;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.block1 {
	max-width: 392px;
}
.block1__content {
	max-width: 302px;
	margin: 35px 45px 30px 45px;
}
.block1__content li {
	padding: 0px 0px 21px 0px;
}
@media (max-width: 850px) {
	.block1__content {
		width: 100%;
	}
}

.block2 {
	max-width: 392px;
}
.block2__content {
	max-width: 302px;
	margin: 35px 45px 30px 45px;
}
.block2__content li {
	padding: 0px 0px 21px 0px;
}
@media (max-width: 850px) {
	.block2__content {
		width: 100%;
	}
}

.map {
	height: 604px;
	max-width: 856px;
	width: 100%;
	border-radius: 10px;
}
@media (max-width: 690px) {
	.map {
		width: 100%;
		height: 302px;
	}
}

li.icon__location:before {
	content: url("../img/icons/Locations/location.png");
	display: inline-block;
	width: 15px;
	margin-right: 20px;
}

li.icon__metro:before {
	content: url("../img/icons/Locations/metro.png");
	display: inline-block;
	width: 15px;
	margin-right: 21px;
}

li.icon__calendar:before {
	content: url("../img/icons/Locations/Calendar.png");
	display: inline-block;
	width: 15px;
	margin-right: 21px;
}

.content__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0px 20px 30px 20px;
}

.footer__text1 {
	font-family: Proxima Nova;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0em;
	color: #FFFFFF;
}
@media (max-width: 479.98px) {
	.footer__text1 {
		font-size: 11px;
	}
}

.footer__text2 {
	font-family: Proxima Nova;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
}
@media (max-width: 479.98px) {
	.footer__text2 {
		font-size: 11px;
	}
}

.news {
	border-top: 1px solid rgb(255, 255, 255);
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.news__container {
	margin: 60px 5px 0px 5px;
	height: 100%;
}
@media (max-width: 991.98px) {
	.news__container {
		margin: 40px 5px 0px 5px;
	}
}
@media (max-width: 767.98px) {
	.news__container {
		margin: 30px 5px 0px 5px;
	}
}
@media (max-width: 479.98px) {
	.news__container {
		margin: 20px 5px 0px 5px;
	}
}
.news__body {
	margin: 0px 5px 150px 5px;
	height: 100%;
}
@media (max-width: 991.98px) {
	.news__body {
		margin: 0px 5px 100px 5px;
	}
}
@media (max-width: 767.98px) {
	.news__body {
		margin: 0px 5px 50px 5px;
	}
}
@media (max-width: 479.98px) {
	.news__body {
		margin: 0px 5px 40px 5px;
	}
}
.news .news-name {
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	color: #FFFFFF;
}
@media (max-width: 530px) {
	.news .news-name {
		font-size: 18px;
	}
}
@media (max-width: 479.98px) {
	.news .news-name {
		font-size: 24px;
	}
}
.news__title {
	margin-bottom: 60px;
}
@media (max-width: 479.98px) {
	.news__title {
		margin-bottom: 30px;
	}
}
.news__items {
	position: relative;
	display: -ms-grid;
	display: grid;
	width: 100%;
	-ms-grid-columns: 1fr 24px 1fr 24px 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: 1fr 24px 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
	max-height: 100%;
}
.news__items > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.news__items > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.news__items > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.news__items > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.news__items > *:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.news__items > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
@media (max-width: 991.98px) {
	.news__items {
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-rows: 1fr 15px 1fr 15px 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 15px;
	}
	.news__items > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.news__items > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.news__items > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.news__items > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.news__items > *:nth-child(5) {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.news__items > *:nth-child(6) {
		-ms-grid-row: 5;
		-ms-grid-column: 3;
	}
}
@media (max-width: 479.98px) {
	.news__items {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		-ms-grid-rows: none;
		grid-template-rows: none;
		gap: 10px;
	}
	.news__items > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}
.news__items1 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item1 {
	position: relative;
}
.news__items2 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item2 {
	position: relative;
}
.news__items3 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item3 {
	position: relative;
}
.news__items4 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item4 {
	position: relative;
}
.news__items5 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item5 {
	position: relative;
}
.news__items6 {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news__item6 {
	position: relative;
}

.news-footer {
	margin: 0 auto;
	max-width: 1300px;
	padding-top: 30px;
	border-top: 1px solid rgb(255, 255, 255);
}

.news-date {
	font-family: "Proxima Nova";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	background-color: #018ABE;
	border-radius: 5px;
	padding: 6px 12px;
}
@media (max-width: 767.98px) {
	.news-date {
		padding: 3px 6px;
	}
}
@media (max-width: 479.98px) {
	.news-date {
		padding: 6px 12px;
	}
}

.item1-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item1-news img {
	width: 100%;
}
.item1-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item1-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item1-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item1-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item1-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item1-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item1-news__date {
		top: 15px;
		left: 10px;
	}
}

.item2-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item2-news img {
	width: 100%;
}
.item2-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item2-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item2-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item2-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item2-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item2-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item2-news__date {
		top: 15px;
		left: 10px;
	}
}

.item3-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item3-news img {
	width: 100%;
}
.item3-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item3-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item3-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item3-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item3-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item3-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item3-news__date {
		top: 15px;
		left: 10px;
	}
}

.item4-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item4-news img {
	width: 100%;
}
.item4-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item4-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item4-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item4-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item4-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item4-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item4-news__date {
		top: 15px;
		left: 10px;
	}
}

.item5-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item5-news img {
	width: 100%;
}
.item5-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item5-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item5-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item5-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item5-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item5-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item5-news__date {
		top: 15px;
		left: 10px;
	}
}

.item6-news {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.item6-news img {
	width: 100%;
}
.item6-news:hover {
	-webkit-box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	        box-shadow: 0 0 20px rgba(13, 152, 216, 0.8);
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.item6-news__name {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item6-news__name {
		bottom: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item6-news__name {
		bottom: 15px;
		left: 10px;
	}
}
.item6-news__date {
	position: absolute;
	top: 30px;
	left: 35px;
}
@media (max-width: 991.98px) {
	.item6-news__date {
		top: 20px;
		left: 25px;
	}
}
@media (max-width: 600px) {
	.item6-news__date {
		top: 15px;
		left: 10px;
	}
}

.newSession {
	border-top: 1px solid rgb(255, 255, 255);
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 161px;
}
@media (max-width: 991.98px) {
	.newSession {
		margin: 0px 0px 80px 0px;
	}
}
@media (max-width: 767.98px) {
	.newSession {
		margin: 0px 0px 40px 0px;
	}
}
.newSession__text {
	font-family: Proxima Nova Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	max-width: 526px;
	width: 100%;
	text-align: justify;
}
@media (max-width: 991.98px) {
	.newSession__text {
		max-width: 100%;
	}
}
.newSession__text p {
	padding: 0px 0px 15px 0px;
}
.newSession__text p:last-child {
	padding: 0px 0px 0px 0px;
}
.newSession__image {
	max-width: 636px;
}
.newSession__image img {
	width: 100%;
	border-radius: 10px;
}
.newSession__subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.newSession__title {
	margin-bottom: 60px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.newSession__title:before {
	content: url("../img/icons/Session_rectangle_left.png");
	display: inline-block;
	width: 28px;
	padding: 0 73px 13px 0;
}
@media (max-width: 479.98px) {
	.newSession__title:before {
		padding: 0 34px 7px 0;
		width: 12px;
	}
}
.newSession__title:after {
	content: url("../img/icons/Session_rectangle_right.png");
	display: inline-block;
	width: 28px;
	margin: 0 0 13px 45px;
	padding: 0px;
}
@media (max-width: 479.98px) {
	.newSession__title:after {
		width: 12px;
		margin: 0 0 7px 6px;
	}
}
@media (max-width: 991.98px) {
	.newSession__title {
		margin-bottom: 30px;
	}
}
@media (max-width: 767.98px) {
	.newSession__title {
		margin-bottom: 15px;
	}
}
@media (max-width: 479.98px) {
	.newSession__title {
		width: 260px;
		font-size: 28px;
	}
}
.newSession__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}
@media (max-width: 991.98px) {
	.newSession__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
	}
}
.newSession__content {
	max-width: 526px;
	padding: 0px 20px 50px 0px;
}
@media (max-width: 991.98px) {
	.newSession__content {
		max-width: 100%;
		padding: 30px 20px 20px 30px;
	}
}
@media (max-width: 479.98px) {
	.newSession__content {
		max-width: 100%;
		padding: 30px 5px 20px 5px;
	}
}
.newSession__date {
	font-family: "Proxima Nova";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	background-color: #018ABE;
	border-radius: 5px;
	padding: 6px 12px;
	width: 96px;
	margin-bottom: 50px;
}
@media (max-width: 767.98px) {
	.newSession__date {
		padding: 6px 12px;
	}
}
@media (max-width: 479.98px) {
	.newSession__date {
		padding: 6px 12px;
	}
}
.newSession__container {
	margin: 60px 5px 0px 5px;
}

.blog {
	border-top: 1px solid rgb(255, 255, 255);
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 120px;
}
.blog__container {
	margin: 60px 5px 0px 5px;
}
.blog__title {
	margin-bottom: 60px;
}
.blog__row1 {
	border: 2px solid #018ABE;
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 50px 60px 50px 60px;
	margin-bottom: 45px;
}
@media (max-width: 991.98px) {
	.blog__row1 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		padding: 50px 60px 50px 60px;
		margin-bottom: 20px;
	}
}
@media (max-width: 700px) {
	.blog__row1 {
		padding: 10px 10px 10px 10px;
	}
}
.blog__image {
	max-width: 564px;
}
.blog__image img {
	width: 100%;
	border-radius: 10px;
}
.blog__date {
	font-family: "Proxima Nova";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	background-color: #018ABE;
	border-radius: 5px;
	padding: 6px 12px;
	width: 96px;
	margin-bottom: 30px;
}
.blog__subtitle {
	margin-bottom: 20px;
}
.blog__text {
	max-width: 564px;
	margin-bottom: 40px;
}
@media (max-width: 991.98px) {
	.blog__text {
		max-width: 100%;
	}
}
.blog__button {
	font-family: "Proxima Nova";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px;
	background-color: #018ABE;
	border-radius: 5px;
	padding: 10px 20px;
	width: 134px;
	margin-bottom: 50px;
}
.blog__button:hover {
	background-color: #FFFFFF;
	color: #018ABE;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
@media (max-width: 479.98px) {
	.blog__button {
		width: 100%;
	}
}
@media (max-width: 479.98px) {
	.blog__button {
		margin-bottom: 20px;
	}
}
.blog__row2 {
	border: 2px solid #018ABE;
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 50px 60px 50px 60px;
	margin-bottom: 45px;
}
@media (max-width: 991.98px) {
	.blog__row2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		padding: 50px 60px 50px 60px;
		margin-bottom: 20px;
	}
}
@media (max-width: 700px) {
	.blog__row2 {
		padding: 10px 10px 10px 10px;
	}
}

.row1__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.row2__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.blog-content__subtitle {
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	color: #FFFFFF;
}
.blog-content__text {
	font-family: Proxima Nova Light;
	font-size: 16px;
	font-weight: 300;
	line-height: 22.4px;
	color: #FFFFFF;
}